<app-navbar></app-navbar>
<mat-tab-group dynamicHeight>
  <mat-tab class="text-primary" label="Long tab">
    <div class="example-large-box mat-elevation-z4">
    <app-interval-timer></app-interval-timer>
    </div>
  </mat-tab>
  <mat-tab class="text-primary" label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      <app-observables></app-observables>
    </div>
  </mat-tab><mat-tab class="text-primary" label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      3ro
    </div>
  </mat-tab>
</mat-tab-group>
