<app-navbar></app-navbar>
<div style="background: rgb(145, 145, 146)">
  <mat-tab-group dynamicHeight>
    <mat-tab class="text-primary" label="Interval-Timer">
    <div class="example-large-box mat-elevation-z4">
    <app-interval-timer></app-interval-timer>
    </div>
  </mat-tab>
  <mat-tab class="text-primary" label="Observables">
    <div class="example-large-box mat-elevation-z4">
      <app-observables></app-observables>
    </div>
  </mat-tab>
  <mat-tab class="text-primary" label="From-Event">
    <div class="example-large-box mat-elevation-z4">
      <app-fromevent></app-fromevent>
    </div>
  </mat-tab>
  <mat-tab class="text-primary" label="Map-Filter">
    <div class="example-large-box mat-elevation-z4">
      <app-mapfilter></app-mapfilter>
    </div>
  </mat-tab>
  <mat-tab class="text-primary" label="Map-Filter">
    <div class="example-large-box mat-elevation-z4">
      <app-tap></app-tap>
    </div>
  </mat-tab>
</mat-tab-group>
</div>
